In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_excel("KTM New Data.xlsx")

In [3]:
df.head()

,ID,Age,Gender,Occupation,Phone Type,Current Bike,Relationship,Response
0,1,53,Male,Professional,Average,180 to 220,Complicated,Not purchased
1,2,27,Female,Self Employed,Low End,No Bike,Single,Purchased
2,3,39,Female,Unemployed,Average,180 to 220,Married,Not purchased
3,4,20,Female,Unemployed,High End,No Bike,Married,Not purchased
4,5,29,Male,Student,Average,180 to 220,Complicated,Purchased

In [4]:
df=df.drop(columns=['ID'])

In [5]:
# Encoding of Categorical data 
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for i in df:
    if df[i].dtype=='object':
        df[i]=le.fit_transform(df[i])
df

,Age,Gender,Occupation,Phone Type,Current Bike,Relationship,Response
0,53,1,0,0,1,1,0
1,27,0,1,2,4,3,1
2,39,0,3,0,1,2,0
3,20,0,3,1,4,2,0
4,29,1,2,0,1,1,1
...,...,...,...,...,...,...,...
1513,19,1,2,1,0,0,1
1514,18,1,2,1,3,2,1
1515,24,0,2,1,1,2,1
1516,23,0,2,1,0,3,1
1517,18,1,2,1,1,3,1

In [6]:
# splitting my x and y variables
x=df.drop(columns=['Response'])
y=df[['Response']]

In [7]:
# Scaling of my x/input variables
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
s_data=ss.fit_transform(x)
x=pd.DataFrame(data=s_data,columns=x.columns)
x

           Age    Gender  Occupation  Phone Type  Current Bike  Relationship
0     1.529236  1.078143   -1.692974   -1.495857     -0.579418     -0.552889
1    -0.432409 -0.927520   -0.660457    1.487994      1.548541      1.191988
2     0.472966 -0.927520    1.404577   -1.495857     -0.579418      0.319549
3    -0.960544 -0.927520    1.404577   -0.003931      1.548541      0.319549
4    -0.281513  1.078143    0.372060   -1.495857     -0.579418     -0.552889
...        ...       ...         ...         ...           ...           ...
1513 -1.035992  1.078143    0.372060   -0.003931     -1.288737     -1.425328
1514 -1.111439  1.078143    0.372060   -0.003931      0.839221      0.319549
1515 -0.658752 -0.927520    0.372060   -0.003931     -0.579418      0.319549
1516 -0.734200 -0.927520    0.372060   -0.003931     -1.288737      1.191988
1517 -1.111439  1.078143    0.372060   -0.003931     -0.579418      1.191988

[1518 rows x 6 columns]

In [8]:
#splitting my data into train and test data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [9]:
#Implementing SVM(Support Vector Machine) Algorithm
from sklearn.svm import SVC
svm=SVC()
svm.fit(x_train,y_train)
svm_pred=svm.predict(x_test)
# checking the accuracy of SVM model
from sklearn.metrics import accuracy_score
asvm=accuracy_score(y_test,svm_pred)
asvm

0.7828947368421053

In [10]:
# Implementing Logistic Regression 
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train,y_train)
lr_pred=lr.predict(x_test)
# checking the accuracy of Logistic Reg model
alr=accuracy_score(y_test,lr_pred)
alr

0.756578947368421

In [11]:
# Implementing Decision Tree
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
dt.fit(x_train,y_train)
dt_pred=dt.predict(x_test)
# checking the accuracy of Decision Tree model
adt=accuracy_score(y_test,dt_pred)
adt

0.7697368421052632

In [12]:
# Implementing KNN 
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()
knn.fit(x_train,y_train)
knn_pred=knn.predict(x_test)
# checking the accuracy of KNN
aknn=accuracy_score(y_test,knn_pred)
aknn

0.7609649122807017

In [13]:
# Implementing Navie Baye's Algorithm
from sklearn.naive_bayes import GaussianNB
nb=GaussianNB()
nb.fit(x_train,y_train)
nb_pred=nb.predict(x_test)
# checking the accuracy of Navie Bayes
anb=accuracy_score(y_test,nb_pred)
anb

0.7653508771929824

In [14]:
# Implementing Ensemble Techniques 1) Bagging Technique 2) Boosting Technique
# 1.a) Random Forest
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(x_train,y_train)
rf_pred=rf.predict(x_test)
# checking the accuracy of RandomForest
arf=accuracy_score(y_test,rf_pred)
arf

0.7412280701754386

In [15]:
# 2.a) Ada Boost
from sklearn.ensemble import AdaBoostClassifier
ab=AdaBoostClassifier()
ab.fit(x_train,y_train)
ab_pred=ab.predict(x_test)
# checking the accuracy of AdaBoost
aab=accuracy_score(y_test,ab_pred)
aab

0.7675438596491229

In [16]:
# 2.b) Gradient Boost(GBoost)
from sklearn.ensemble import GradientBoostingClassifier
gb=GradientBoostingClassifier()
gb.fit(x_train,y_train)
gb_pred=gb.predict(x_test)
# checking the accuracy of GBoost
agb=accuracy_score(y_test,gb_pred)
agb

0.7697368421052632

In [17]:
# 2.c) Xtreme Gradient Boost(xgboost)
from xgboost import XGBClassifier
xgb=XGBClassifier()
xgb.fit(x_train,y_train)
xgb_pred=xgb.predict(x_test)
# checking the accuracy of XGBoost
axgb=accuracy_score(y_test,xgb_pred)
axgb

0.743421052631579

In [18]:
table=[[alr,adt,aknn,asvm,anb,arf,aab,agb,axgb]]
table
table1=pd.DataFrame(table,index=['Accuracy'])
table1.columns=['LogstcReg','DecisionTree','KNN','SVM','Navie Bayes','RandomForest','AdaBoost','GBoost','XgBoost']
table1

,LogstcReg,DecisionTree,KNN,SVM,Navie Bayes,RandomForest,AdaBoost,GBoost,XgBoost
Accuracy,0.756579,0.769737,0.760965,0.782895,0.765351,0.741228,0.767544,0.769737,0.743421

In [19]:
table=[alr,adt,aknn,asvm,anb,arf,aab,agb,axgb]
table
table1=pd.DataFrame(table,columns=['Accuracy'])
table1.index=['LogstcReg','DecisionTree','KNN','SVM','Navie Bayes','RandomForest','AdaBoost','GBoost','XgBoost']
table1.sort_values('Accuracy',ascending=False)

              Accuracy
SVM           0.782895
DecisionTree  0.769737
GBoost        0.769737
AdaBoost      0.767544
Navie Bayes   0.765351
KNN           0.760965
LogstcReg     0.756579
XgBoost       0.743421
RandomForest  0.741228

In [20]:
# Checking for imbalancing the data
print('Purchased',(df['Response'].value_counts()[1]/len(df)*100))
print('Not Purchased',(df['Response'].value_counts()[0]/len(df)*100))

Purchased 57.44400527009223
Not Purchased 42.55599472990777