In [1]:
OVER SAMPLING TECHNIQUE
1)ROS(Randomized Over Sampling)
2)SMOTE(Synthetic Minority Oversampling TEchnique)

In [ ]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("bank-full.csv")

In [3]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Target
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [4]:
# Encoding of Categorical data 
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for i in df:
    if df[i].dtype=='object':
        df[i]=le.fit_transform(df[i])
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Target
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3,0
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3,0
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3,0
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3,0
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,9,1,2,0,825,0,0,0,17,9,977,3,-1,0,3,1
45207,71,5,0,0,0,1729,0,0,0,17,9,456,2,-1,0,3,1
45208,72,5,1,1,0,5715,0,0,0,17,9,1127,5,184,3,2,1
45209,57,1,1,1,0,668,0,0,1,17,9,508,4,-1,0,3,0
45210,37,2,1,1,0,2971,0,0,0,17,9,361,2,188,11,1,0

In [5]:
# Checking for imbalancing the data
print('Target as yes',(df['Target'].value_counts()[1]/len(df)*100))
print('Target as no',(df['Target'].value_counts()[0]/len(df)*100))

Target as yes 11.698480458295547
Target as no 88.30151954170445

In [6]:
x=df.drop('Target',axis=1)
y=df['Target']

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=10)

In [8]:
print('No of samples in the data before ROS',x_train.shape)

No of samples in the data before ROS (31647, 16)

In [9]:
#!pip install imblearn --user

In [10]:
#import sys

In [11]:
#print(sys.version)

In [12]:
#!pip install notebook --upgrade

In [18]:
from imblearn.over_sampling import RandomOverSampler,SMOTE

In [14]:
ros=RandomOverSampler()
x_train_ros,y_train_ros=ros.fit_resample(x_train,y_train)

In [15]:
print('No of samples in the data after ROS',x_train_ros.shape)

No of samples in the data after ROS (55832, 16)

In [29]:
# 2.c) Xtreme Gradient Boost with ROS(Randomized over sampling)
from xgboost import XGBClassifier
xgb=XGBClassifier()
xgb.fit(x_train_ros,y_train_ros)
xgb_pred=xgb.predict(x_test)
# checking the accuracy of AdaBoost
from sklearn.metrics import accuracy_score
axgb=accuracy_score(y_test,xgb_pred)
axgb

0.8800501327042171

In [21]:
# Implementation of SMOTE
sm=SMOTE()
x_train_sm,y_train_sm=sm.fit_resample(x_train,y_train)

In [22]:
print('No of samples in the data after SMOTE',x_train_sm.shape)

No of samples in the data after SMOTE (55832, 16)

In [26]:
# Xtreme Gradient Boost with SMOTE
from xgboost import XGBClassifier
xgb=XGBClassifier()
xgb.fit(x_train_sm,y_train_sm)
xgb_pred=xgb.predict(x_test)
# checking the accuracy of AdaBoost
from sklearn.metrics import accuracy_score
axgb=accuracy_score(y_test,xgb_pred)
axgb

0.887864936596874

In [27]:
# Xtreme Gradient Boost(xgboost) without over sampling
from xgboost import XGBClassifier
xgb=XGBClassifier()
xgb.fit(x_train,y_train)
xgb_pred=xgb.predict(x_test)
# checking the accuracy of AdaBoost
axgb=accuracy_score(y_test,xgb_pred)
axgb

0.9093925095841935